 @import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.cxtopo {

    position: absolute;
    width: 1106px;
    height: 334px;
    left: 184px;
    top: 109px;

    background: #ECF9FF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.cxdireita {

    position: absolute;
    width: 553px;
    height: 402px;
    left: 184px;
    top: 444px;
    background: rgba(83, 127, 231, 0.8);

}

.cxesquerda {

    position: absolute;
    width: 553px;
    height: 402px;
    left: 737px;
    top: 444px;
    
    background: rgba(222, 232, 255, 0.8);


}

.logo {
    position: absolute;
    width: 377px;
    height: 174px;
    left: 537px;
    top: 65px;
    
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 125px;
    line-height: 188px;
    text-align: center;
    color: #000000;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  
    
}

.sombraLogo {

    position: absolute;
    width: 377px;
    height: 174px;
    left: 531px;
    top: 40px;
    
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 193px;
    text-align: center;
    color: #537FE7;

}

.setaEsquerda {

    box-sizing: border-box;

    position: absolute;
    width: 89px;
    height: 0px;
    left: 475px;
    top: 250px;
    
    border: 3px solid #537FE7;
    transform: rotate(-180deg);
}

.setaDireita {

    box-sizing: border-box;
    position: absolute;
    width: 89px;
    height: 0px;
    left: 890px;
    top: 250px;
    border: 3px solid #000000;
    transform: rotate(-180deg);


}



.subtitulo {

    position: absolute;
    width: 500px;
    height: 31px;
    left: 475px;
    top: 300px;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



}

.tlogin {

    position: absolute;
    width: 203px;
    height: 82px;
    left: 181px;
    top: 420px;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #F6F1F1;
}


.lLogin {

    position: absolute;
    width: 97px;
    height: 27px;
    left: 246px;
    top: 536px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #F6F1F1;
}

.cxlogin {

    position: absolute;
    width: 346px;
    height: 39px;
    left: 246px;
    top: 578px;
    background: #FFFFFF;
    border-radius: 19px;
}

.lsenha {

    position: absolute;
    width: 91px;
    height: 27px;
    left: 246px;
    top: 645px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #F6F1F1;
}

.cxsenha {

    position: absolute;
    width: 346px;
    height: 39px;
    left: 246px;
    top: 690px;

    background: #FFFFFF;
    border-radius: 19px;
}


.cxentrar {

    position: absolute;
    width: 300px;
    height: 50px;
    left: 290px;
    top: 600px;
    background: #252A35;
    border-radius: 9px;
    
    position: absolute;
    width: 250px;
    height: 40px;
    left: 318px;
    top: 780px;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

.check {

    box-sizing: border-box;

    position: absolute;
    width: 18px;
    height: 16px;
    left: 257px;
    top: 744px;
    
    background: #FFFFFF;
    border: 1px solid #252A35;
    border-radius: 3px; 


}

.remember-me {

    position: absolute;
    width: 90px;
    height: 18px;
    left: 283px;
    top: 743px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #F6F1F1

}

.esqueceu {

    position: absolute;
    width: 115px;
    height: 18px;
    left: 473px;
    top: 743px; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;    
    text-align: center;
    color: #F6F1F1;
    

}

.nTemConta {

    position: absolute;
    width: 194px;
    height: 27px;
    left: 786px;
    top: 620px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #252A35;

}


.cadastrar {

    position: absolute;
    width: 259px;
    height: 49px;
    left: 1001px;
    top: 592px;
    background: #7599EC;
    border-radius: 9px;
    
    position: absolute;
    width: 245px;
    height: 70px;
    left: 1029px;
    top: 600px;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;

}

.logarCom {

    position: absolute;
    width: 101px;
    height: 27px;
    left: 951px;
    top: 700px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #252A35;

}

.usuario {

    position: absolute;
    width: 39px;
    height: 39px;
    left: 200px;
    top: 578px;

    background: url(round-account-button-with-user-inside_icon-icons.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.chave {

    position: absolute;
    width: 44.33px;
    height: 44.33px;
    left: 200px;
    top: 703.99px;
    
    background: url(emblemencryptedlocked_93479.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(-34.31deg);


}




.face {

    position: absolute;
    width: 48px;
    height: 48px;
    left: 869px;
    top: 731px;

    background: url(facebook_icon-icons.png);
}

.gmail {

    position: absolute;
    width: 62px;
    height: 62px;
    left: 971px;
    top: 724px;

    background: url(Gmail_29991.png);
}

.apple {

    position: absolute;
    width: 54px;
    height: 54px;
    left: 1087px;
    top: 725px;

    background: url(social_apple_mac_65.png);


}